  span.big {
  font-size: 140%;
  color:white;
  font-weight:bolder;
  background:darkblue
}

div.you_try {
  padding: 25px;
  margin: 5px;
  background-color:#cefdce
}
  textarea  { 
   font-family: "PT Sans", Helvetica, Arial, sans-serif; 
   font-size: 20px;  
   color: blue; 
   background: lightyellow;
}
label {
color: green;
font-weight: bold;
display: block;
width: 150px;
float: above;
}

.center {
    margin: auto;
    /*width: 50%;*/
    border: 3px solid green;
    padding: 10px;
}

.button {
    background-color: darkgreen;
    border: black;
    color: linen;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    background-color: darkblue;
    color: yellow;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted blue;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: darkblue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.defining_text {
  padding: 3%;
  margin: 5px;
  color: darkblue;
  background-color:lightpink
}
.problem {
  padding: 3%;
  color: darkgreen;
  background-color: oldlace;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
}
.solution {
  padding: 3%;
  color: darkblue;
  background-color: lightblue;
  text-align: left;
  font-family: "PT Sans", Helvetica, Arial, sans-serif; 
  font-size: 18pt;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 4px;
    border-color: green;
}