/*
 * Basic element styling
 */

h2 {
    padding-top: 25px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 4px;
    border-color: green;
}

label {
    color: green;
    font-weight: bold;
    display: block;
    width: 150px;
    float: above;
}

/*
 * Span styling
 */

span.big {
    font-size: 140%;
    color: white;
    font-weight: bolder;
    background: darkblue
}

span.medium {
    font-size: 100%;
    color: white;
    font-weight: normal;
    background: darkblue
}

span.problem_quote {
    color: darkgreen;
    background-color: oldlace;
    font-family: Arial, Helvetica, sans-serif;
}

/*
 * 'Divs' & 'You Try' Sections
 */

div.you_try {
    padding: 15px;
    margin: 5px;
    background-color: #cefdce;
    font-size: 25px;
}

div.you_try textarea {
    width: 100%;
    height: 150px; /* CHANGE TEXT AREA HEIGHT */
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: blue;
    background: lightyellow;
}

div.you_try button {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

div.you_try p.feedback{
    margin: 15px;
    text-align: center;
    font-size: 40px;
    background: white;
}

/*
 * Tooltips
 */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px dotted blue;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptextR {
    visibility: hidden;
    width: 150px;
    background-color: darkblue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 105%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}
/*.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: blue transparent transparent transparent transparent;
}*/

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.92;
}

/*
 * Other styling
 */

.center {
    margin: auto;
    /*width: 50%;*/
    border: 3px solid green;
    padding: 10px;
}

.button {
    background-color: darkgreen;
    border: black;
    color: linen;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: darkblue;
    color: yellow;
}

.defining_text {
    padding: 3%;
    margin: 5px;
    color: darkblue;
    background-color: lightpink
}

.problem {
    padding: 3%;
    color: darkgreen;
    background-color: oldlace;
    text-align: left;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 28px;
}

.solution {
    padding: 3%;
    color: darkblue;
    background-color: lightblue;
    text-align: left;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 20pt;
}

.priority_1 {
    background-color: pink;
    padding: 15px 25px;
}
.priority_2 {
    background-color: lightyellow;
    padding: 15px 25px;
}
.priority_3 {
    background-color: lightgreen;
    padding: 15px 25px;
}
.priority_4 {
    background-color: lightblue;
    padding: 15px 25px;
}
